extend layout 

block content
	if errors
		each error in errors
			p.text-danger error
	
	div.form__wrapper
		h2 Please Sign in Here 
		form(action="/users/login" method ="POST")
			input(type="email" placeholder ="yourname@example.com" name = "username").form-control
			input(type="password" placeholder ="Enter your password" name = "password").form-control
			br
			button(type ="submit").btn.btn-primary.form-control Log in
		a(href="/users/login").btn.btn-primary New User Sign up
